.categories-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    
}

.card-pacotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: var(--background-secondary-color);
    color: var(--text-primary-color);
    font-weight: var(--text-font-weight);
    text-decoration: none;
    border-radius: 16px;
    width: 312px;
    height: 220px;
}



@media screen and (min-width:768px) {
    .categories-cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-transfer-img{
        margin-bottom: 24px;
    }
}

@media screen and (min-width:1024px) {
    .categories-cards{
        flex-direction: row;
        justify-content: center;
    }
}
