header{
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 48px;
    position: relative;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px; 
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

nav{
    display: none;
}

.list-links{
    list-style: none;
    margin-left: 30px;
}

.list-links li{
    margin: 16px 0;
    
}
.list-links li a{
    color: var(--text-secondary-color);
    text-decoration: none;
}