.hero-footer{
    width: 100%;
    margin: 0;
}

.hero-footer-img{
    height: 400px;
    width: 100%;
    background: url("../img/hero-footer-mobile.png") no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 768px) {
    .hero-footer-img{
        background: url("../img/hero-footer-desktop.png") no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (min-width: 1024px){
    .hero-footer-img{
        height: 600px;
        background-size: cover;
        background-position: center;
    }
    
    .travel-packages .hero-footer-img{
    height: 400px;
    width: 100%;
    background: url("../img/hero-footer-package-desktop.png") no-repeat;
    background-size: cover;
    background-position: center;
    }
}
