.hero-img{
    height: 400px;
    width: 100%;
    background: url("../img/hero-mobile.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-texto{
    padding: 88px 24px;
    margin: 0px;
    font-weight: var(--text-weight);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .hero-img{
        height: 620px;
        background: url("../img/hero-tablet.png") no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero-texto{
        padding: 88px 60px;
        font-size: 32px;
    }

}

@media screen and (min-width: 1024px) {
    .hero-img{
        height: 620px;
        background: url("../img/hero-desktop.png") no-repeat;
        background-size: cover;
        background-position: center;
    }

        .hero-texto{
        padding: 88px 120px;
    }
}

@media screen and (min-width: 1920px) {
    .hero-texto{
        padding: 88px 160px;
    }
}


