.offers-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.card {
    color: var(--text-secondary-color);
    box-sizing: border-box;
    padding: 24px 16px;
    width: 312px;
    height: 288px;
    border-radius: 16px;
    text-align: center;

}

.card header {
    display: block;
    position: static;
    padding: 0;
    margin-bottom: 24px;
    background-color: transparent;
}

.card header p {
    font-size: 20px;
    font-weight: var(--text-font-weight);
}

.card header h3 {
    font-size: 40px;
    font-weight: var(--text-title-weight);
    margin: 8px 0 0;
}

.card header span {
    display: inline-block;
    font-size: 32px;
    margin-top: 24px;
}

.card.japao {
    background: url(../img/bg-card-japao.jpg) no-repeat;
    background-size: cover;
}

.card.san-andreas {
    background: url(../img/bg-card-san-andreas.jpg) no-repeat;
    background-size: cover;
}

.card.paraiba {
    background: url(../img/bg-card-paraiba.jpg) no-repeat;
    background-size: cover;
}

.card.manaus {
    background: url(../img/bg-card-manaus.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width:768px) {
    .offers-cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        width: 420px;
        height: 308px;
    }

   .card header h3 {
        font-size: 48px;

    }

    .card header span {
        font-size: 40px;
    }
    
}

@media screen and (min-width: 1440px) {
    .card {
        width: 588px;
        height: 308px;
    }

}

@media screen and (min-width: 1920px) {
    .offers-cards {
        width: 1250px;
        margin: 0 auto;
    }

}
